<head>
  <title>Tim-Bear</title>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="/imagenes/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body class="">
  <h2 class="container">Lista de Clientes Filtrada</h2>
  <form method="post" action="AdministrarClientes/filtrar">
  <div class="table-responsive container-fluid">
      <a class="link" href="/AdministrarClientes"> <-Regresar</a>

      <% if(clientes.length>0){ %>
      <div class="input-group rounded mb-3 mt-4">
          <h3>Se encontro las siguientes coincidencias.</h3>
      </div>
      <table class="table container table-hover">
          <thead>
              <tr>
                  <th>Id Cliente</th>
                  <th>Nombre Completo</th>
                  <th>DNI</th>
                  <th>Correo Electrónico</th>
                  <th>Número telefonico</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              
                  for(var i = 0;i < clientes.length;i++) { 
                  
                  <tr>
                      <td><%= clientes[i].id %></td>
                      <td><%= clientes[i].nombres %> <%= clientes[i].apellidos %></td>
                      <td><%= clientes[i].dni %></td>
                      <td><%= clientes[i].correo %></td>
                      <td><%= clientes[i].telefono %></td>    
                      <td>
                          <button type="button" class="mt-1 mx-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#editar_<%=i%>">Editar</button>
                          <div class="modal fade" id="editar_<%=i%>" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <form class="form" method="post" action="/AdministrarClientes/editar">
                                          <input type="hidden" name="cliente_id" value="<%= clientes[i].id %>"> 
                                          <div class="modal-header">
                                              <h4 class="modal-title" id="exampleModalLabel" >Editar Cliente</h4>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal"class="btn-close" aria-hidden="true" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                              <div class="row">
                                                  <div class="col">
                                                      <div class="form-group ">
                                                          <div class="form-group">
                                                              <label class="form-label">Nombre Completo:</label>
                                                              <label class="form-label" ><%= clientes[i].nombres%> <%= clientes[i].apellidos%></label>
                                                          </div>                                                                
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="form-label">DNI:</label>
                                                          <label class="form-label" ><%= clientes[i].dni%></label>
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="form-label">Correo electrónico:</label>
                                                          <label class="form-label" ><%= clientes[i].correo%></label>
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="form-label">Número telefonico:</label>
                                                          <label class="form-label" ><%= clientes[i].numero%></label>
                                                      </div>
                                                      <div class="form-group mt-3">
                                                          <label  for="input_starttime" class="form-label">Estado:</label>
                                                          <select name="cliente_Estado2" class="form-select ">
                                                              <option >---Seleccione---</option>
                                                              <option>Pendiente de Validación</option>
                                                              <option>Validado</option>
                                                              <option>Dado de Baja</option>
                                                          </select>
                                                      </div>   
                                                      <div class="form-group">
                                                          <label class="form-label">Dirección:</label>
                                                          <label class="form-label" ><%= clientes[i].direccion%></label>
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="form-label">Distrito:</label>
                                                          <label class="form-label" ><%= clientes[i].distrito%></label>
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="form-label">Provincia:</label>
                                                          <label class="form-label" ><%= clientes[i].provincia%></label>
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="form-label">Departamento:</label>
                                                          <label class="form-label" ><%= clientes[i].departamento%></label>
                                                      </div>                                                        
                                                      <div class="form-group mt-3">
                                                          <label class="form-label">PEP:</label>
                                                          <label class="form-label" ><%= clientes[i].pep%></label>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="modal-footer">   
                                                  <button type="submit" class="btn btn-primary">Guardar</button>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                          
                      </td>
                  </tr>
              <%}} }%>
          </tbody>
      </table>

      </form>
  </div>   
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>
</html>